<section class="header-wrapper" data-section-type="header">
  <div class="container">
    <div class="moonbase flex items-center justify-center py-5 md:py-6">
      {% comment %} START - Logo {% endcomment %}
      <div class="col-span-2 md:col-span-4 order-2">
        <a class="block" href="{{ routes.root_url }}">
          {%- if settings.site_logo -%}
            {{ settings.site_logo | image_url: width: 768 | image_tag: alt: settings.site_logo.alt, preload: true, class: 'h-8' }}
          {%- endif -%}
        </a>
      </div>
      {% comment %} END - Logo {% endcomment %}
    </div>
  </div>
  {% comment %} START - Desktop Menu{% endcomment %}
  <div class="border-t-0 md:border-t border-b border-contrast-light">
    <div class="grid grid-cols-12 gap-5">
      <div class="hidden md:block md:col-span-12">
        <ul class="flex items-center justify-center gap-10 py-4">
          {%- for link in linklists.main-menu.links -%}
          <li>
            <a class="font-heading text-sm" href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
  {% comment %} END - Desktop Menu{% endcomment %}
</section>

{% schema %}
{
  "name": "t:moonbase.sections.header.name",
  "class": "moonbase-header",
  "tag": "header"
}
{% endschema %}