<section id="{{ section.id }}" class="container mx-auto px-2">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div>01</div>
    <div>02</div>
    <div>03</div>
    <div>04</div>
  </div>
</section>

{% schema %}
{
  "name" : "featured-collection",
  "settings" : [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets" : [
    {
      "name" : "Featured Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}