<section id="{{ section.id }}">
  <div class="grid sm:grid-cols-2 grid-cols-4 gap-4">
  <div>01</div>
  <div>02</div>
  <div>03</div>
  <div>04</div>
</div>
</section>

{% schema %}
{
  "name" : "featured-collection",
  "settings" : [

  ],
  "presets" : [
    {
      "name" : "Featured Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}