h3.product-title, p.product-price {
  font-weight:500;
  font-size: 18px;
}
label.product-vendor {
  font-size: 14px;
}
p {
  padding: 5px 0;
}
.collection-card .image-container {
  position: relative;
  text-align: center;
}

.collection-card .image-container .quick-add-overlay {
  background: #363636 ;
  color: #fff;
  width: 100%;
  padding: 5px 0;
  
}