h3.product-title, p.product-price {
  font-weight:500;
  font-size: 18px;
}
label.product-vendor {
  font-size: 14px;
}
p {
  padding: 5px 0;
}
.collection-card .image-container {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.collection-card .image-container .quick-add-overlay {
  opacity: 0;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
  background: #363636 ;
  color: #fff;
  width: 100%;
  padding: 5px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
}
.collection-card .image-container:hover .quick-add-overlay {
  opacity: 1;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}


.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}